* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#8942a8),
      to(#ba382f)
    );
    background: linear-gradient(to top, #8942a8, #ba382f);
    
  }