footer{
  margin-top: auto;
}
.footer__container {
  margin-top: 20px;
  width: 100%;
  background-image: url(../../../imgs/tai-background-anh-sang-dep-nhat-820x461.jpg);
  background-size: cover;
}

.footer__contact {
  padding: 10px 0;
  font-size: 0.5rem;
  margin-bottom: 10px;
  color: #fff;
  // width: 70%;
  margin: auto;
  ul {
    display: flex;
    justify-content: space-between;
  }
  .item-1 {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
  }
  li {
    padding: 8px 0;
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.copyright__content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}
.content__right {
  display: flex;
  a {
    margin: 0 3px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 0.5rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    &:hover {
      background-color: #f55f8d;
      transition: all 0.5s;
    }
  }
}
.content__left {
  padding: 8px 0;
  color: #fff;
  font-size: 0.5rem;
}
.fa {
  color: white;
}

@include reponsive("md") {
  .footer__contact {
    font-size: 1rem;
    width: 70%;
  }
  .item-1 {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
  .copyright__content {
    width: 45%;
  }
  .content__right a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 1rem;
  }
  .content__left {
    font-size: 1rem;
  }
}
