// Colors
$color-blue-light: #c9d8f4;
$color-blue:#2a73dd;
$color-blue-dark: #1d365e;
$color-yellow: #f9d412;
$color-black: #656774;
$color-white: #fff;
$color-grey-light: #f5f9fe;
$color-grey: #e2ebef;
$color-pink: #f55f8d;

// Margin

// Padding

$font-size: 1rem;

// Lưu trữ biến là một danh sách
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);